			.legende {
				font-size: smaller;
				font-style: normal;
				border: none;
			}
			
			.paire {
				background-color: #fff95d;
			}
			
			.impaire {
				background-color: #6ca6f6;
			}
			
			.site {
				text-align: left;
			}
			
			.noborder{
				border: none;				
			}
			
			table {
				border-collapse: collapse;
			}
			
			th, td {
				color: #193349;
				font-style: italic;
				text-align: center;
				border: solid 1px;
				width: 150px;
			}